 @import url(https://fonts.googleapis.com/css2?family=Fugaz+One&family=Michroma&display=swap);
body {
 background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('https://media.istockphoto.com/id/1361831751/photo/empty-movie-theater-with-neon-lights.jpg?s=612x612&w=0&k=20&c=s2S4mMOJI_ShAUHLMpa3KJLsFUS6iBakeSa8YHOGBUI=');
 background-repeat: no-repeat;
 background-size: cover;
}
.title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5rem ;
}
.subtitle {
     color: #8205ef;
}
.firstlist {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.mpstuff {
    font-size: 1.3rem;
}
.mpstuff:hover {
    color: #8205ef;
    cursor: pointer;
}
.first-searchbar {  
    display: flex;        
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 25px;
}
.search-submit {
    box-sizing: 22rem;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
}
.search-input{
    padding-right: 6rem;
    border: none;
    border-radius: 5px 0 0 5px;
    line-height: 1.35;
}
.search-input::-webkit-search-cancel-button {
 -webkit-appearance: none;
    appearance: none;}
.search-submit:hover {
    background-color: #42146a;
}
.search-input:hover{
    background-color: #1d1d1d;
}
.first-search{
    font-size: 1.4rem;
}

